{% extends "global/base.html" %}

{% block content %}
    <div class="profile-info">
        <h1>Perfil de {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <p>Conta criada em: {{ user.date_joined|date:'d/m/y H:i' }}</p>
        <div class="profile-avatar">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar }}" alt="Avatar de {{ user.username }}">
            {% else %}
                <div class="avatar-placeholder">Sem avatar</div>
            {% endif %}
        </div>
        <p>Bio: {{ user.profile.bio }}</p>
    </div>

    <div class="profile-btns">
        <a href="{% url "posts:index" %}" class="btn-base btn-secondary">Voltar ao blog</a>
        <a href="{% url "users:edit_profile" %}" class="btn-base btn-primary">Editar Perfil</a>
    </div>
{% endblock content %}