{% extends "global/base.html" %}

{% block content %}
    {% if category %}
        <h1>Postagens em categoria: {{ category.name }}</h1>
    {% elif tag %}
        <h1>Postagens com a tag: #{{ tag.name }}</h1>
    {% else %}
        <h1>Todas as postagens</h1>
    {% endif %}
    <main class="posts-container">
        {% for post in posts %}
            <article class="post-card">
                <img src="#" alt="Imagem do post">
                <h2>{{ post.title }}</h2>
                <p>{{ post.summary }}</p>
                <a href="{% url "posts:detail" post.pk %}" class="btn">Leia mais</a>
            </article>
        {% endfor %}
    </main>
{% endblock content %}