{% extends "global/base.html" %}

{% block content %}
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <main class="post-content">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <small>{{ post.author }} | {{ post.created_at }}</small>
    </main>

    {% comment %} <div>
        <p>Categoria: <a href="{% url "posts_by_category" post.category.slug %}">{{ post.category.name }}</a></p>

        <p>Tags:
            {% for tag in post.tags.all %}
                <a href="{% url "posts_by_tags" tag.slug %}">#{{ tag.name }}</a>
            {% empty %}
                Nenhuma tag
            {% endfor %}
        </p>
    </div> {% endcomment %}
    
    {% include "posts/comment_section.html" %}
{% endblock content %}