{% extends "global/base.html" %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <main class="post-content">
        <p>{{ post.content }}</p>
        <small>{{ post.author.user }} | {{ post.date }}</small>
    </main>
    
    <h2>Comments</h2>
    <div class="comment-section">
        {% if comments %}
            {% for comment in comments %}
                <p>{{ comment.author }}: {{ comment.text }}</p>
            {% endfor %}
        {% else %}
            <p>Sem comentários ainda.</p>
        {% endif %}
    </div>
{% endblock content %}