{% for reply in comment.replies.all %}
    <div class="reply" id="comment-{{ reply.id }}">
        <p class="comment-author">{{ reply.author }}</p>
        <p class="comment-text">{{ reply.text }}</p>
        <small class="comment-date">{{ reply.created_at }}</small>
        {% if reply.author == request.user %}
            <button 
                type="button"
                onclick="toggleForm('edit-form-{{ reply.id }}', 'comment-{{ reply.id }}')"
                class="btn-base btn-secondary edit-btn"
            >
                Editar
            </button>
            {% include "posts/comment_edit.html" with comment=reply edit_comment_id=edit_comment_id %}

            <form action="{% url "posts:comment_delete" reply.id %}" method="POST" style="display: inline;">
                {% csrf_token %}

                <button type="submit" class="btn-base btn-danger delete-btn">Deletar</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

<div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
    <form action="{% url "posts:comment_create" post.id %}" method="POST" class="form-base">
        {% csrf_token %}

        {{ reply_form.text }}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <button type="submit" class="btn-base btn-primary reply-btn">Responder</button>
    </form>
</div>